@{var title = @ViewData["Title"] + " | Software at Hand LLC"; }

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="Software company specializing in creating accessible websites and mobile applications." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="Software at Hand LLC" />
    <meta property="og:description" content="Software company specializing in creating accessible websites and mobile applications." />
    <meta property="og:image" content="http://www.software-at-hand.com/images/SoftwareAtHand.jpg" />
    <meta property="og:url" content="http://www.software-at-hand.com" />
    <meta property="og:site_name" content="Software at Hand LLC" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="SoftwareAtHand" />
    <meta name="twitter:image:alt" content="" />
    <meta name="twitter:app:country" content="US">
    <meta name="twitter:creator" content="Sharon Griffith" />
    <meta property="fb:app_id" content="326260591454818" />
    <meta name="theme-color" content="#2e231f" />
    <title>@{@title}</title>
    <link href="~/css/SoftwareAtHand.css" rel="stylesheet">
    <link href="~/css/FontAwesome.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cinzel|Exo+2" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="~/SoftwareAtHand.jpg">
    <link rel="manifest" href="~/manifest.json">

    <!-- Begin Bootstrap blog template files -->
    <link href="~/css/blog.css" rel="stylesheet">
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">
    <!-- End Bootstrap blog template files -->
</head>
<body>
    <!--
    <a href="what_we_do" hidden aria-hidden="false">Skip to main content</a>-->
    <!--nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">SoftwareAtHand</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav-->

    <div class="container body-content">

        <header id="banner" name="banner" role="banner">
            <a href="http://www.software-at-hand.com"><img src="~/images/SoftwareAtHand.jpg" alt="Software at Hand LLC" /></a>

            <span id="site_name">
                <span>Software at Hand LLC</span>
            </span>

            <!--
            <span id="social_media_icons_header">
                <a href="https://www.facebook.com/SoftwareAtHand" class="fa fa-facebook" aria-label="Facebook"></a>
                <a href="https://twitter.com/SoftwareAtHand" class="fa fa-twitter" aria-label="Twitter"></a>
            </span>
                -->
            <div class="container">
                <!--
                <header class="blog-header py-3">
                    <div class="row flex-nowrap justify-content-between align-items-center">
                        <div class="col-4 pt-1">
                            <a class="link-secondary" href="#">Subscribe</a>
                        </div>
                        <div class="col-4 text-center">
                            <a class="blog-header-logo text-dark" href="#">Large</a>
                        </div>
                        <div class="col-4 d-flex justify-content-end align-items-center">
                            <a class="link-secondary" href="#" aria-label="Search">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5" /><path d="M21 21l-5.2-5.2" /></svg>
                            </a>
                            <a class="btn btn-sm btn-outline-secondary" href="#">Sign up</a>
                        </div>
                    </div>
                </header>-->
                <div class="nav-scroller py-1 mb-2">
                    <nav class="nav d-flex justify-content-between">
                        <a asp-controller="Home" asp-action="Accessibility" class="p-2 link-secondary">Accessibility Resources</a>
                        <a asp-controller="Home" asp-action="Business" class="p-2 link-secondary">Business Tools</a>
                        <a asp-controller="Home" asp-action="Design" class="p-2 link-secondary">Design Tools</a>
                        <a asp-controller="Home" asp-action="Freelance" class="p-2 link-secondary">Freelance Resources</a>
                        <a asp-controller="Home" asp-action="Prototyping" class="p-2 link-secondary">Prototyping Tools</a>
                        <a asp-controller="Home" asp-action="Testing" class="p-2 link-secondary">Testing Tools</a>
                        <!--
                        <a class="p-2 link-secondary" href="#">Politics</a>
                        <a class="p-2 link-secondary" href="#">Opinion</a>
                        <a class="p-2 link-secondary" href="#">Science</a>
                        <a class="p-2 link-secondary" href="#">Health</a>
                        <a class="p-2 link-secondary" href="#">Style</a>
                        <a class="p-2 link-secondary" href="#">Travel</a>
                            -->
                    </nav>
                </div>

            </div>
        </header>

        @RenderBody()

        <footer>
            <!--
            <nav role="navigation">
                <a asp-controller="Home" asp-action="Index" class="btn btn-info navbar-btn">What We Do</a> |
                <a asp-controller="Home" asp-action="Privacy" class="btn btn-info navbar-btn">Privacy Policy</a>
            </nav>
                -->

            <p>
                &copy;
                <script>var year = new Date().getFullYear(); document.write(year > 2018 ? "2018-" + year + " " : "" + year + " ");</script>
                Software at Hand LLC
            </p>

            <!--

            <h2 hidden aria-hidden="false" role="heading" aria-level="2">Social Media</h2>
            <span id="social_media_icons_footer" aria-label="social media icons">
                <h3 hidden aria-hidden="false" role="heading" aria-level="3">Facebook</h3>
                <a href="https://www.facebook.com/SoftwareAtHand" class="fa fa-facebook" aria-label="Facebook"></a>
                <h3 hidden aria-hidden="false" role="heading" aria-level="3">Twitter</h3>
                <a href="https://twitter.com/SoftwareAtHand" class="fa fa-twitter" aria-label="Twitter"></a>
            </span>
                -->
        </footer>
        <!--
        <footer class="blog-footer">
            <p>
                <a href="#">Back to top</a>
            </p>
        </footer>
            -->
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
