@{
    ViewData["Title"] = "Accessibility";
}

<h1>Accessibility</h1>

<ul>
    <!--<li><A HREF="http://get.invisionapp.com/4-guidelines-to-help-you-design-for-visually-impaired-users?ecid=ACsprvtjk0vNGa36r35HnSRCgNLgoxKDeITYEzDAgEZ6LRqy3NeamKCaRouQXIQlo8kHyWHsC148&utm_campaign=Weekly%20Digest&utm_source=hs_email&utm_medium=email&utm_content=59667720&_hsenc=p2ANqtz-8nNFuP6K-prPnvUwz6m8ItZ4KliTlchAIOtkPLWUUNoUs6GiYc7eTPGAzT-sytwsWyXu4kiWbGmO6LlvydAcaxniSDlw&_hsmi=59667720">4 guidelines to help you design for visually impaired users</A></li>-->
    <li><A HREF="https://codeburst.io/seven-ways-to-make-your-web-app-more-accessible-411a8c716fcb">7 Ways To Make Your Web Application More Accessible</A></li>
    <li><A HREF="https://developer.apple.com/library/content/technotes/TestingAccessibilityOfiOSApps/TestingtheAccessibilityofiOSApps/TestingtheAccessibilityofiOSApps.html#//apple_ref/doc/uid/TP40012619">About Accessibility Verification on iOS</A></li>
    <li><A HREF="https://developer.apple.com/design/human-interface-guidelines/accessibility/overview/introduction/">Accessibility - App Architecture - iOS Human Interface Guidelines</A></li>
    <li><A HREF="https://www.apple.com/accessibility/">Accessibility - Apple</A></li>
    <li><A HREF="https://material.angular.io/cdk/a11y/overview">Accessibility | Angular Material</A></li>
    <li><A HREF="https://support.microsoft.com/en-us/account-billing/accessibility-features-for-the-microsoft-account-website-c4610278-a5b9-d85c-0308-0619d0cc3e11">Accessibility features for the Microsoft account website</A></li>
    <li><A HREF="https://play.google.com/store/apps/details?id=com.google.android.apps.accessibility.auditor&hl=en">Accessibility Scanner - Android Apps on Google Play</A></li>
    <li><A HREF="https://www.sitepen.com/blog/2016/12/13/accessibility-testing-with-intern/">Accessibility Testing with Intern - Blog | SitePen</A></li>
    <li><A HREF="https://www.interactiveaccessibility.com/">ADA, 508 and WCAG 2.0 compliance | Interactive Accessibility</A></li>
    <li><A HREF="https://www.freecodecamp.org/learn/responsive-web-design/applied-accessibility">Applied Accessibility | freeCodeCamp</A></li>
    <li><A HREF="https://www.boia.org/automated-wcag-2.1-aa-audit-with-remediation-guide">Automated WCAG 2.1 A/AA Audit with Remediation Guide</A></li>
    <li><A HREF="https://github.com/btholt/postcss-colorblind">btholt/postcss-colorblind: A PostCSS plugin for seeing your site as a colorblind person may.</A></li>
    <li><A HREF="https://support.google.com/chromebook/answer/7031755/">ChromeVox</A></li>
    <li><A HREF="https://www.jetbrains.com/help/idea/2017.3/color-deficiency-adjustment.html">Color-Deficiency Adjustment - Help | IntelliJ IDEA</A></li>
    <li><A HREF="https://developer.apple.com/library/archive/technotes/TestingAccessibilityOfiOSApps/TestAccessibilityiniOSSimulatorwithAccessibilityInspector/TestAccessibilityiniOSSimulatorwithAccessibilityInspector.html#//apple_ref/doc/uid/TP40012619-CH4">Debug Accessibility in iOS Simulator with the Accessibility Inspector</A></li>
    <li><A HREF="https://www.smashingmagazine.com/2018/04/designing-accessibility-inclusion/">Designing For Accessibility And Inclusion — Smashing Magazine</A></li>
    <li><A HREF="https://www.nuance.com/dragon.html">Dragon NaturallySpeaking - world&#39;s best-selling speech recognition software | Nuance</A></li>
    <li><A HREF="https://www.nuance.com/dragon/for-developers/dragon-software-developer-kit.html">Dragon Software Developer Kit | Nuance</A></li>
    <li><A HREF="https://chrome.google.com/webstore/detail/dragon-web-extension/ddaloccgjfibfpkalenodgehlhkgoahe?hl=en">Dragon Web Extension - Chrome Web Store</A></li>
    <li><A HREF="https://axe-core.org/">Easy Accessibility Testing with aXe</A></li>
    <li><A HREF="https://www.nuance.com/about-us/for-partners.html">For partners | Nuance</A></li>
    <li><A HREF="https://www.funkify.org/">Funkify - A disability simulator for the web</A></li>
    <li><A HREF="https://github.com/dequelabs/axe-core">GitHub - dequelabs/axe-core: Accessibility engine for automated Web UI testing</A></li>
    <li><A HREF="https://github.com/theintern/intern-a11y">GitHub - theintern/intern-a11y: Accessibility testing for Intern</A></li>
    <li><A HREF="https://github.com/wpaccessibility/a11ythemepatterns">GitHub - wpaccessibility/a11ythemepatterns: A collection of patterns for creating accessibility-ready WordPress themes.</A></li>
    <li><A HREF="https://www.podfeet.com/blog/tutorials-5/build-accessible-ios-apps/">How to Build Accessible iOS Apps – Podfeet Podcasts</A></li>
    <li><A HREF="https://developers.google.com/web/fundamentals/accessibility/how-to-review#take_advantage_of_headings_and_landmarks">How To Do an Accessibility Review  |  Web Fundamentals  |  Google Developers</A></li>
    <li><A HREF="https://www.google.com/search?q=how+to+turn+on+accessibility+inspector+in+xcode&rlz=1C5CHFA_enUS692US692&oq=how+to+turn+on+accessibility+inspector+in+xcode&aqs=chrome..69i57.8288j0j1&sourceid=chrome&ie=UTF-8">how to turn on accessibility inspector in xcode - Google Search</A></li>
    <li><A HREF="http://squizlabs.github.io/HTML_CodeSniffer/">HTML_CodeSniffer</A></li>
    <li><A HREF="https://www.w3.org/TR/turingtest/">Inaccessibility of CAPTCHA</A></li>
    <li><A HREF="https://www.dragonblogger.com/invite-all-friends-to-facebook-event-with-this-free-chrome-extension/">Invite All Friends to Facebook Event with this Free Chrome Extension - Dragon Blogger Technology</A></li>
    <li><A HREF="https://make.wordpress.org/accessibility/">Make WordPress Accessible – Equal Access For All</A></li>
    <li><A HREF="https://www.maxiaids.com/blind-and-low-vision-store">MaxiAids | Vision | Low Vision Products | Low Vision Devices | Blind Products</A></li>
    <li><A HREF="https://www.w3.org/TR/mobile-accessibility-mapping/">Mobile Accessibility: How WCAG 2.0 and Other W3C/WAI Guidelines Apply to Mobile</A></li>
    <li><A HREF="https://apps.apple.com/us/app/mobile-web-accessibility-check/id1128079244">Mobile Web Accessibility Check on the App Store</A></li>
    <li><A HREF="https://webkit.org/blog/7551/responsive-design-for-motion/">Responsive Design for Motion | WebKit</A></li>
    <li><A HREF="https://www.smashingmagazine.com/2017/10/nailing-accessibility-design/">Stop Designing For Only 85% Of Users: Nailing Accessibility In Design – Smashing Magazine</A></li>
    <li><A HREF="https://www.w3.org/TR/WCAG20-TECHS/">Techniques for WCAG 2.0</A></li>
    <li><A HREF="https://developer.apple.com/library/content/technotes/TestingAccessibilityOfiOSApps/TestAccessibilityonYourDevicewithVoiceOver/TestAccessibilityonYourDevicewithVoiceOver.html#//apple_ref/doc/uid/TP40012619-CH3-SW1">Test Accessibility on Your Device with VoiceOver</A></li>
    <li><A HREF="https://make.wordpress.org/themes/handbook/review/accessibility/">Theme Review Team (Accessibility) — WordPress</A></li>
    <li><A HREF="http://bkaprt.com/resources/designing-for-touch/Windows%208%20Touch%20Guidance.pdf">Touch Dev Docs M5</A></li>
    <li><A HREF="https://docs.microsoft.com/en-us/windows/uwp/design/input/touch-interactions">Touch interactions - UWP app developer | Microsoft Docs</A></li>
    <li><A HREF="https://developer.apple.com/library/content/documentation/UserExperience/Conceptual/iPhoneAccessibility/Accessibility_on_iPhone/Accessibility_on_iPhone.html#//apple_ref/doc/uid/TP40008785-CH100-SW2">Understanding Accessibility on iOS</A></li>
    <li><A HREF="https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques">Using ARIA: Roles, States, and Properties - Accessibility | MDN</A></li>
    <li><A HREF="https://wave.webaim.org/">WAVE Web Accessibility Tool</A></li>
</ul>