@{
    ViewData["Title"] = "Business / Colloboration Tools";
}

<h1>Business / Collaboration Tools</h1>

<ul>
    <li><A HREF="https://www.adobe.com/uk/products/catalog.html">Adobe products: desktop, web, and mobile applications | Adobe</A></li>
    <li><A HREF="http://highscalability.com/all-time-favorites/">All Time Favorites</A></li>
    <li><A HREF="https://www.mturk.com/">Amazon Mechanical Turk</A></li>
    <li><A HREF="https://codepen.io/your-work">CodePen</A></li>
    <li><A HREF="https://www.classy.org/">Classy - A modern online fundraising platform for nonprofits</A></li>
    <li><A HREF="https://devanywhere.io/">DevAnywhere</A></li>
    <li><A HREF="https://www.pivotaltracker.com/?utm_source=google&utm_campaign=brand&utm_medium=cpc&utm_term=pivotal%20tracker">Pivotal Tracker - Agile Project Management</A></li>
    <li><A HREF="https://www.quickbase.com/">QuickBase</A></li>
    <li><A HREF="https://material.io/design/">Design - Material Design</A></li>
    <li><A HREF="https://www.freeprintablebusinesscards.net/">Free Printable Business Cards - Free Business Cards</A></li>
    <li><a href="https://gdprprivacypolicy.net">GDPR Privacy Policy Generator</a></li>
    <li><A HREF="https://crf-inc.com/google-grant-e-book">Google Grant</A></li>
    <li><A HREF="https://projects.invisionapp.com/">Invision</A></li>
    <li><A HREF="https://play.google.com/store/apps/details?id=com.invisionapp.ifa">InVision - Apps on Google Play</A></li>
    <li><A HREF="https://www.invisionapp.com/">InVision | Digital product design, workflow &amp; collaboration</A></li>
    <li><A HREF="https://play.google.com/store/apps/details?id=com.marvelapp">Marvel - Design and build Apps - Apps on Google Play</A></li>
    <li><A HREF="https://marvelapp.com/">Marvel - The design platform for digital products</A></li>
    <li><A HREF="https://marvelapp.com/ios/">Marvel for iOS</A></li>
    <li><A HREF="https://www.blackbaud.com/fundraising-and-relationship-management/raisers-edge-nxt?utm_source=CPC&utm_medium=Adwords&utm_campaign=BrandedUS_RaisersEdge&utm_term=Raisers_Edge&gclid=EAIaIQobChMIuL2n5Jyq1gIVioN-Ch0uXQ01EAAYASAAEgIyKPD_BwE">Nonprofit Fundraising Software | Raiser&#39;s Edge NXT | Blackbaud</A></li>
    <li><A HREF="https://prezi.com/">Prezi -Presentation Software | Online Presentation Tools</A></li>
    <li><A HREF="https://www.rememberthemilk.com/">Remember The Milk - Online to-do list and task management</A></li>
    <li><A HREF="https://www.sketch.com/">Sketch - The digital design toolkit</A></li>
    <li><A HREF="https://www.sketchappsources.com/">Sketch App Sources - Free design resources and plugins - Icons, UI Kits, Wireframes, iOS, Android Templates for Sketch</A></li>
    <li><A HREF="https://www.sketch.com/s/D9VW">Sketch Cloud</A></li>
    <li><A HREF="https://slides.com/">Slides – Create and share presentations online</A></li>
    <li><A HREF="https://www.smartsheet.com/">Smartsheet: Less Talk, More Action</A></li>
    <li><A HREF="https://speakerdeck.com/">Speaker Deck - Share Presentations without the Mess</A></li>
    <li><A HREF="https://zapier.com/blog/office-management-software/">The Best Office Management Software, Hand-Picked by IT Pros</A></li>
    <li><A HREF="https://trello.com">Trello</A></li>
    <li><A HREF="https://userzoom.com/">Validately: Powerful User Research - Thousands of UX teams use Validately to conduct 2x the research in 50% less time.</A></li>
    <li><A HREF="https://visage.co/">Visage.co - Visual Content Creation Made Simple</A></li>
    <li><A HREF="http://imakewebthings.com/waypoints/">Waypoints</A></li>
    <li><A HREF="https://slack.com/">Where work happens | Slack</A></li>
    <li><A HREF="https://zeplin.io/">Zeplin</A></li>
</ul>