@{
    ViewData["Title"] = "Design";
}

<section role="contentinfo" class="solidBorder roundedCorner">
    <h1>Design</h1>

    <p>These are mostly either links to software you can purchase or are links to sites where you can download free content.  I've thrown in some valuable how-to guides as well.</p>

    <h3>Color Palettes</h3>
    <a name="Color Palettes" />
    <ul>
        <li><A HREF="https://coolors.co/">Coolors.co - The super fast color schemes generator</A></li>
        <li><A HREF="https://www.competethemes.com/">Compete Themes - Social Media Color Hex Codes</A></li>
        <li><A HREF="https://dribbble.com/shots?color=ee6d66">Dribbble - Browse by color</A></li>
        <li><A HREF="https://www.canva.com/learn/website-color-schemes/">Canva - Website color schemes: 50 color palettes to inspire</A></li>
        <li><A HREF="https://colorhunt.co/">Color Hunt - Color Palettes for Designers and Artists</A></li>
        <li><A HREF="https://www.colorzilla.com/">ColorZilla - Eyedropper, Color Picker, Gradient Generator and more</A></li>
        <li><A HREF="https://flatuicolors.com/">Flat UI Colors - 🎨 280 handpicked colors ready for COPY &amp; PASTE</A></li>
        <li><A HREF="https://www.materialpalette.com/">Material Palette - Material Design Color Palette Generator</A></li>
    </ul>

    <h3>Design Patterns/ Templates</h3>
    <a name="Design Patterns/ Templates" />
    <ul>
        <li><A HREF="https://www.awwwards.com/">Awwwards - Website Awards - Best Web Design Trends</A></li>
        <li><A HREF="https://drafts.csswg.org/css-grid/#grid-definition">CSS Grid Layout Module Level 1</A></li>
        <li><a href="http://highscalability.com/all-time-favorites/">High Scalability</a></li>
        <li><A HREF="https://www.lucidchart.com/?utm_source=google&utm_medium=cpc&utm_campaign=lucidchart_unitedstates&gclid=EAIaIQobChMIiMq1h4at1gIVljVpCh2qYQZ6EAAYASAAEgKCWPD_BwE">Lucidchart - Flowchart Maker &amp; Online Diagram Software</A></li>
        <li><A HREF="https://www.mobile-patterns.com/">Mobile Patterns - UI UX Inspirational Gallery for iOS and Android</A></li>
        <li><A HREF="https://principleformac.com/">Principle - Animated Design</A></li>
        <li><A HREF="https://pttrns.com/">Pttrns - Mobile Design Patterns</A></li>
        <li><A HREF="http://styletil.es/">Style Tiles</A></li>
        <li><A HREF="https://tutorialzine.com/2016/01/12-ready-to-use-templates-for-list-pages">Tutorialzine - Freebie: 12 Ready To Use Templates For List Pages</A></li>
        <li><A HREF="https://www.uistencils.com/blogs/news/ui-stencils-drafting-templates">UI Stencils - Free printable grids for wireframing and UX</A></li>
        <li><A HREF="https://www.uxpin.com/">UXPin - The Premier UX Design Platform</A></li>
    </ul>

    <h3>Fonts</h3>
    <a name="Fonts" />
    <ul>
        <li><A HREF="https://fontawesome.com/?from=io">Font Awesome</A></li>
        <li><A HREF="https://www.fontsquirrel.com/">Font Squirrel - Free Fonts! Legit Free &amp; Quality</A></li>
        <li><A HREF="https://fonts.google.com/">Google Fonts</A></li>
        <li><A HREF="https://www.linotype.com/">Linotype - Fonts for Desktop, Web &amp; More</A></li>
        <li><A HREF="https://fonts.adobe.com/?ref=tk.com">Typekit</A></li>
        <li><A HREF="https://www.myfonts.com/WhatTheFont/">WhatTheFont! « MyFonts</A></li>
    </ul>

    <h3>Graphics / Icons / Images / Logos</h3>
    <a name="Graphics / Icons / Images / Logos" />
    <ul>
        <li><A HREF="https://exposure.software/">Alien Skin Software - Photo Editing Programs and Plug-ins</A></li>
        <li><A HREF="https://daneden.github.io/animate.css/">Animate.css</A></li>
        <li><A HREF="https://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons — Attribution-NonCommercial-ShareAlike 4.0 International — CC BY-NC-SA 4.0</A></li>
        <li><A HREF="https://cubic-bezier.com/#.17,.67,.83,.67">Cubic-bezier.com</A></li>
        <li><A HREF="https://www.designmantic.com/logo-design">DesignMantic - Free Logo Design &amp; Logo Maker</A></li>
        <li><A HREF="https://dummyimage.com/">DummyImage.com - Dynamic Dummy Image Generator</A></li>
        <li><A HREF="https://emojipedia.org/">📙 Emojipedia — 😃 Home of Emoji Meanings 💁👌🎍😍</A></li>
        <li><A HREF="https://realfavicongenerator.net/">Favicon Generator for all platforms: iOS, Android, PC/Mac...</A></li>
        <li><A HREF="https://www.flaticon.com/">Flaticon.com - Free vector icons - SVG, PSD, PNG, EPS &amp; Icon Font - Thousands of free icons</A></li>
        <li><A HREF="https://www.freepik.com/">Freepik - Free vectors, photos and PSD Downloads</A></li>
        <li><A HREF="https://makeappicon.com/">MakeAppIcon - Generate iOS and Android app icons of all sizes with a click!</A></li>
        <li><A HREF="https://material.io/resources/icons/">Material Design - Icons</A></li>
        <li><A HREF="https://materialdesignicons.com/">Material Design Icons</A></li>
        <li><A HREF="https://thenounproject.com/">Noun Project - Icons for Everything</A></li>
        <li><A HREF="https://www.pexels.com/">Pexels - Free Stock Photos</A></li>
        <li><A HREF="https://www.photopea.com/">Photopea | Online Image Editor</A></li>
        <li><A HREF="https://pixabay.com/">Pixabay - Stunning Free Images</A></li>
        <li><A HREF="https://wunderstock.com/">re:splashed | Free hi-resolution photos to do whatever you want</A></li>
        <li><A HREF="https://www.vecteezy.com/">Vecteezy - Free Vectors, Clip Art Designs, Vector Images &amp; Icons</A></li>
        <li><A HREF="https://99designs.com/">99designs - Logos, Web, Graphic Design &amp; More.</A></li>
    </ul>
</section>