@{
    ViewData["Title"] = "Freelance";
}

<section role="contentinfo" class="solidBorder roundedCorner">
    <h1>Freelance</h1>

    <p>Lots of helpful resources for registering and/or searching for freelance work.</p>

    <h2>Building/Publishing Your Own Work (Developer Resources)</h2>
    <ul>
        <li><A HREF="https://developers.google.com/web/fundamentals/app-install-banners/">Add to Home Screen  |  Web Fundamentals  |  Google Developers</A></li>
        <li><A HREF="https://open.appacademy.io/?utm_source=wwcode">App Academy Open</A></li>
        <li><A HREF="https://developer.twitter.com/en/docs/tweets/optimize-with-cards/overview/app-card.html">App card — Twitter Developers</A></li>
        <li><A HREF="https://support.google.com/webmasters/answer/183668?hl=en">Build and submit a sitemap - Search Console Help</A></li>
        <li><A HREF="https://cards-dev.twitter.com/validator">Card Validator | Twitter Developers</A></li>
        <li><A HREF="https://tax.colorado.gov/software-developers-income-tax">Software Developers -- Income Tax | Department of Revenue - Taxation</A></li>
        <li><A HREF="https://developers.facebook.com/docs/plugins/embedded-posts/">Embedded Posts - Social Plugins</A></li>
        <li><A HREF="https://realfavicongenerator.net/social/#.W47LoOhKjgs">Facebook Sharing Markup Generator</A></li>
        <li><A HREF="https://www.searchenginejournal.com/google-sends-mass-warning-googlebot-cannot-access-your-javascript-and-css-files/137617/">Google: “Googlebot Cannot Access Your JavaScript and CSS”</A></li>
        <!--<li><A HREF="https://github.com/IonicaBizau/github-calendar/blob/gh-pages/README.md">github-calendar/README.md at gh-pages · IonicaBizau/github-calendar</A></li>-->
        <li><A HREF="https://smallbusiness.chron.com/can-connect-facebook-app-facebook-page-26704.html">How Can I Connect My Facebook App to My Facebook Page? | Chron.com</A></li>
        <li><A HREF="https://www.squadhelp.com/">Name Your Business | Disruptive Naming Agency | Squadhelp</A></li>
        <li><A HREF="https://developers.google.com/web/fundamentals/web-app-manifest/">The Web App Manifest  |  Web Fundamentals  |  Google Developers</A></li>
        <li><A HREF="https://blogs.windows.com/buildingapps/2018/07/25/top-4-ways-to-optimize-your-microsoft-store-listing/?utm_source=vs_developer_news">Top 4 ways to optimize your Microsoft Store listing - Windows Developer Blog</A></li>
        <li><A HREF="https://developer.twitter.com/en/apps">Twitter Developers</A></li>
        <!--<li><A HREF="https://github.com/GoogleChrome/puppeteer">GoogleChrome/puppeteer: Headless Chrome Node API</A></li>
        <li><A HREF="https://stackoverflow.com/questions/34516592/embed-github-contributions-graph-in-website">html5 - Embed Github contributions graph in website - Stack Overflow</A></li>-->
        <li><A HREF="https://developer.twitter.com/en/docs/twitter-for-websites/timelines/guides/profile-timeline">Profile Timeline — Twitter Developers</A></li>
        <li><A HREF="https://developers.facebook.com/tools/debug/sharing/">Sharing Debugger - Facebook for Developers</A></li>
    </ul>

    <h2>General Articles</h2>
    <ul>
        <li><A HREF="https://www.flexjobs.com/blog/post/big-work-and-flexibility-stats-from-2018-predictions-2019/">5 Big Work and Flexibility Stats from 2018 and 2 Predictions for 2019</A></li>
        <li><A HREF="https://www-forbes-com.cdn.ampproject.org/c/s/www.forbes.com/sites/abdullahimuhammed/2017/06/16/79-websites-to-get-freelance-jobs-fast/amp/">79 Websites To Get Freelance Jobs Fast</A></li>
        <li><A HREF="https://alternativeto.net/">AlternativeTo - Crowdsourced software recommendations</A></li>
        <li><A HREF="https://news.ycombinator.com/item?id=15824598">Ask HN: Freelancer? Seeking freelancer? (December 2017) | Hacker News</A></li>
        <li><A HREF="https://www.slideshare.net/mobile/upwork/freelancing-in-america-2018-120288770/1">Freelancing in America: 2018</A></li>
        <li><A HREF="https://www.aarp.org/work/job-search/info-2018/flexible-jobs-fd.html?cmp=SNO-ICM-LINKEDIN_COMPANY-AO-WJ&socialid=1959928394">Give These 5 Great ‘Flexible’ Jobs a Try</A></li>
        <li><A HREF="https://www.fastcompany.com/90280594/this-is-how-youll-look-for-a-job-in-2019">How to look for a job in 2019</A></li>
        <li><A HREF="https://technical.ly/philly/2018/07/31/top-programming-languages-tech-skills-2018/">Software developers: Here&#39;s what tech employers are looking for in 2018 - Technical.ly Philly</A></li>
        <li><A HREF="https://money.usnews.com/money/blogs/outside-voices-careers/articles/2018-03-16/stop-work-burnout-before-it-starts">Stop Work Burnout Before It Starts | On Careers | US News</A></li>
        <li><A HREF="https://www.techrepublic.com/article/the-20-fastest-growing-skills-for-freelancers/">The 20 fastest-growing skills for freelancers - TechRepublic</A></li>
        <li><A HREF="https://ozlance.com.au/">The best way to find Australian Freelance Jobs | OzLance</A></li>
        <li><A HREF="https://money.usnews.com/money/careers/slideshows/tips-for-surviving-a-career-transition">Tips for Surviving a Career Transition | Careers | US News</A></li>
        <li><A HREF="https://adage.com/article/agency-news/tbwa-tool-connect-agencies-diverse-vendors/316156/">TBWA tool wants to connect agencies with diverse vendors | Agency News - Ad Age</A></li>
        <li><A HREF="https://www.fastcompany.com/90279105/your-12-month-guide-to-building-your-side-hustle-this-year">Your 12-month guide to building your side hustle this year</A></li>
    </ul>

    <h2>Freelance Job Boards</h2>
    <h3>For Content Writers</h3>
    <ul>
        <li><A HREF="https://www.textbroker.com/">Content and article writing services | Textbroker</A></li>
        <li><A HREF="https://www.dailyposts.co.uk/">Daily Posts | Try our writing agency! Affordable copywriting.</A></li>
        <li><A HREF="https://writers.work/get-started">Writers Work | Write Your Way to the Life You Want</A></li>
        <li><A HREF="https://www.journalismjobs.com/index.php">JournalismJobs.com - The Job Board for Media Professionals</A></li>
        <li><A HREF="https://online-writing-jobs.com/">Online Writing Jobs for Freelance Writers</A></li>
        <li><A HREF="https://problogger.com/jobs/">Jobs - ProBlogger Jobs</A></li>
    </ul>

    <h3>For Designers</h3>
    <ul>
        <li><A HREF="https://www.behance.net/">Behance :: Best of Behance</A></li>
        <li><A HREF="https://dribbble.com/jobs">Design Jobs | Dribbble</A></li>
        <li><A HREF="https://www.coroflot.com/design-jobs">Design Jobs and Creative Careers | Coroflot</A></li>
        <li><A HREF="http://designportfolioreview.com/">designportfolioreview.com</A></li>
        <li><A HREF="https://www.crowdsite.com/">Do you need a logo or other graphic design?</A></li>
        <li><A HREF="https://www.designcrowd.com/">Freelance Logo Design, Web Design &amp; Graphic Design</A></li>
        <li><A HREF="https://folyo.me/">Folyo - Remote Graphic Design Jobs and Projects for Freelance Designers</A></li>
        <li><A HREF="https://www.designhill.com/">Graphic Design Website for Custom Web design &amp; More.</A></li>
        <li><A HREF="https://creativebytes7.wixsite.com/creativebytes">Home | CREATIVEBYTES</A></li>
        <li><A HREF="https://www.mediabistro.com/">home | Mediabistro</A></li>
        <li><A HREF="https://www.krop.com/">Krop Creative, Design &amp; Tech Jobs</A></li>
        <li><A HREF="https://studio.envato.com/">Logo Design &amp; WordPress Customization from Envato Studio</A></li>
        <li><A HREF="https://www.uplabs.com/">UPLABS Daily Showcase - Uplabs</A></li>
        <li><A HREF="https://womenwho.design/">Women Who Design</A></li>
    </ul>

    <h3>For Developers</h3>
    <ul>
        <li><A HREF="https://docs.google.com/document/d/14lZE9gGoyfrgu3nZyaBCkileQ_WyarttX-s9pYaFToc/mobilebasic">Agency Secrets - Single Grain</A></li>
        <li><A HREF="https://authenticjobs.com/">Authentic Jobs for designers, developers and creative pros.</A></li>
        <li><A HREF="https://www.bark.com/en/us/">Bark.com - a revolutionary way to hire local services</A></li>
        <li><A HREF="https://www.cloudpeeps.com/">CloudPeeps – discover the best freelance talent and jobs</A></li>
        <li><A HREF="https://stackoverflow.com/jobs">Developer Jobs, Programming Jobs &amp; More - Stack Overflow</A></li>
        <li><A HREF="https://duworks.com/">DUWorks</A></li>
        <li><A HREF="https://www.wphired.com/">Find 1000s of WordPress jobs | WPhired</A></li>
        <li><A HREF="https://remotive.io/find-a-remote-job/">Find a remote job - Remotive</A></li>
        <li><A HREF="https://www.freelancermap.com/">Find freelancer jobs &amp; hire IT freelancers | freelancermap</A></li>
        <li><A HREF="https://www.linkedin.com/profinder">Find Trustworthy Freelancers - LinkedIn ProFinder</A></li>
        <li><A HREF="https://www.efinancialcareers.com/">Find Your Next Finance Job | eFinancialCareers</A></li>
        <li><A HREF="https://www.flexjobs.com/">FlexJobs | Remote Jobs, Part-Time Jobs, Freelance Jobs</A></li>
        <li><A HREF="https://codepen.io/freeCodeCamp/">freeCodeCamp on CodePen</A></li>
        <li><A HREF="http://mypersonalassistant.com/job-type/freelance/">Freelance | Job Types | My Personal Assistant</A></li>
        <li><A HREF="https://www.freelanced.com/">Freelance Jobs | Freelancers | Freelance Social Network - Freelanced.com</A></li>
        <li><A HREF="https://www.gun.io/">Gun.io - Hire Elite Freelance Technical Talent</A></li>
        <li><A HREF="https://www.guru.com/">Guru - Hire Quality Freelancers Online and Find Freelance Jobs</A></li>
        <li><A HREF="https://news.ycombinator.com/jobs">Hacker News</A></li>
        <li><A HREF="https://gigster.com/">High-impact applications at startup speed | Gigster</A></li>
        <li><A HREF="https://wearehirable.com/">hirable - hire the best freelance developers</A></li>
        <li><A HREF="https://m.freelancer.com/">Hire Freelancer &amp; Find Freelancer Jobs Online | Freelancer</A></li>
        <li><A HREF="https://hired.com/join?utm_source=linkedin&utm_medium=cpc&utm_term=adid-brad-50x50">Hired - Job Search Marketplace. Job Hunting Simplified!</A></li>
        <li><A HREF="http://www.hireme.com.ng/">Hireme | Take your business online</A></li>
        <li><A HREF="http://ratracerebellion.com/">Home - Real Work From Home Jobs by Rat Race Rebellion</A></li>
        <li><A HREF="https://aquent.com/">Home | Aquent</A></li>
        <li><A HREF="https://www.sologig.com/">IT and Engineering Jobs | Sologig.com</A></li>
        <li><A HREF="https://www.themuse.com/jobs">Job Search | Find The Best Jobs To Work For At The Muse</A></li>
        <li><A HREF="https://www.indeed.com/m/">Job Search | Indeed</A></li>
        <li><A HREF="https://m.wowjobs.us/">Job Search Engine | WowJobs</A></li>
        <li><A HREF="https://www.flexjobs.com/search?search=&exclude=&location=&country=&tele_level%5B%5D=All+Telecommuting&will_travel%5B%5D=&accolade=">Job Search Results that have 100% Remote</A></li>
        <li><A HREF="https://jobs.smashingmagazine.com/jobs/">Jobs — Smashing Magazine</A></li>
        <li><A HREF="https://www.womenwhocode.com/jobs">Jobs | Women Who Code</A></li>
        <li><A HREF="https://fairygodboss.com/">Jobs and company reviews for women | Fairygodboss</A></li>
        <li><A HREF="https://localancers.com/">Localancers.com &gt; the Local Freelancers</A></li>
        <li><A HREF="https://localsolo.com/denver-co/">LocalSolo Freelance | Denver, CO | Find the Top Freelancers in Your City</A></li>
        <li><A HREF="https://blog.codepen.io/documentation/features/hire-me-button/">Mark Yourself as Hireable - CodePen Blog</A></li>
        <li><A HREF="https://matchist.com/">matchist.com</A></li>
        <li><A HREF="https://jobs.metafilter.com/">MetaFilter Jobs</A></li>
        <li><A HREF="https://www.wonolo.com/">On-Demand Staffing Platform: Temp Labor Solutions | Wonolo</A></li>
        <li><A HREF="https://onesandbox.com/">One Sandbox</A></li>
        <li><A HREF="https://onsite.io/">OnSite - Quality, Curated Freelance Talent.</A></li>
        <li><A HREF="http://www.joomlancers.com/">OpenSource Freelance Marketplace for Joomla, Drupal, WordPress and more. Hire Joomla experts from all around the world.</A></li>
        <li><A HREF="https://www.outreachy.org/">Outreachy | Internships Supporting Diversity in Tech - Outreachy</A></li>
        <li><A HREF="https://www.aarp.org/work/job-hunting/info-2016/part-time-job-variety.html?cmp=SNP-WJ-LI-WORK-PTW-1">Part-Time Job Variety for 50+ Workers</A></li>
        <li><A HREF="https://www.peopleperhour.com/">PeoplePerHour.com - Hire Freelancers Online &amp; Find Freelance Work</A></li>
        <li><A HREF="https://powertofly.com/">PowerToFly</A></li>
        <li><A HREF="https://www.reddit.com/r/forhire/">redditors for hire</A></li>
        <li><A HREF="https://remote.co/remote-jobs/developer/">Remote Developer Jobs - Remote.co</A></li>
        <li><A HREF="https://stackoverflow.com/jobs/remote-developer-jobs">Remote Developer Jobs - Stack Overflow</A></li>
        <li><A HREF="https://www.workingnomads.co/jobs">Remote Jobs | Working Nomads</A></li>
        <li><A HREF="https://weworkremotely.com/">Remote Jobs: Design, Programming, Rails, Executive, Marketing, Copywriting, and more.</A></li>
        <li><A HREF="https://remoteok.io/">Remote Jobs: Developer, Design, Writing, Customer Support &amp; More</A></li>
        <li><A HREF="http://www.quickenlancer.com/search-job">Search Freelance Jobs and Freelance Projects Online | Quickenlancer</A></li>
        <li><A HREF="https://www.skipthedrive.com/">SkipTheDrive - Find Telecommuting, Remote, &amp; Online Jobs</A></li>
        <li><A HREF="https://www.taskrabbit.com/">TaskRabbit connects you to safe and reliable help in your neighborhood</A></li>
        <li><A HREF="https://www.virtualvocations.com/">Telecommuting Jobs | Remote Jobs - Virtual Vocations</A></li>
        <li><A HREF="https://www.damongo.com/">The #1 Online Micro Jobs Website | Microjobs Online - Damongo</A></li>
        <li><A HREF="https://www.toptal.com/">Toptal - Hire Freelance Talent from the Top 3%</A></li>
        <li><A HREF="https://www.upwork.com/">Upwork - Hire Freelancers &amp; Get Freelance Jobs Online</A></li>
        <li><A HREF="https://whoishiring.io/">whoishiring.io - Who is Hiring?</A></li>
        <li><A HREF="https://jobs.wordpress.net/">WordPress Jobs | WordPress related Job Postings</A></li>
        <li><A HREF="https://www.yunojuno.com/">YunoJuno - London - Unlock the true potential of freelance</A></li>
    </ul>
</section>