@{
    ViewData["Title"] = "About";
}

<section role="contentinfo" class="solidBorder roundedCorner">
    <p>Software at Hand LLC is a software company that specializes in creating accessible websites and mobile applications.</p>
    <p>This is placeholder content until we have our first production launch.  The design is currently retro rounded corners because they're fun to code and it makes it easier to see how the CSS Grid works.</p>
</section>
