@{
    ViewData["Title"] = "What We Do";
}

<main id="main_content" name="main_content" role="main">
    <div id="main_grid_layout">
        <article class="main_content" id="what_we_do" name="what_we_do" role="article">
            <h1>What We Do</h1>
            <p>Software At Hand LLC is a software company that specializes in creating accessible websites and mobile applications.</p>
            <p>We do not host websites ourselves, but we can help you set up hosting with your choice of provider.</p>
        </article>

        <section class="left_sidebar" name="left_sidebar" id="left_sidebar" aria-label="contact information">
            <aside role="complementary" id="our_address" name="our_address">
                <h2 role="heading" aria-level="2">Address</h2>
                <p>
                    PO Box 608<br />Eastlake, CO 80614
                </p>
            </aside>

            <aside role="complementary" id="our_phone" name="our_phone">
                <h2 role="heading" aria-level="2">Telephone</h2>
                <p>(720) 436-8992</p>
            </aside>

            <aside role="complementary" id="our_email" name="our_email">
                <h2 role="heading" aria-level="2">Email</h2>
                <p>info@software-at-hand.com</p>
            </aside>
        </section>
    </div>
</main>