@{
    ViewData["Title"] = "Prototyping";
}

<section role="contentinfo" class="solidBorder roundedCorner">

    <h1>Prototyping</h1>

    <ul>
        <li><A HREF="https://hipsum.co/?paras=5&type=hipster-centric&start-with-lorem=1">Hipster Lorem</A></li>
        <li><A HREF="https://magicmockups.com/">Magic Mockups - Free real-life mockup generator</A></li>
        <li><A HREF="https://moqups.com/">Moqups - Online Mockup, Wireframe &amp; UI Prototyping Tool</A></li>
        <li><A HREF="https://placeit.net/">Placeit.net - Make Mockups, Logos, Videos and Designs in Seconds</A></li>
        <li><A HREF="https://marvelapp.com/pop/">POP by Marvel - Turn sketches into iOS and Android prototypes</A></li>
        <li><A HREF="https://apps.apple.com/app/id555647796">‎POP - Prototyping on Paper - App Store</A></li>
        <li><A HREF="https://www.microsoft.com/en-us/p/pop-prototyping-on-paper/9wzdncrdjp7z?rtc=1&activetab=pivot:overviewtab">POP - Prototyping on Paper - Microsoft Store</A></li>
        <li><A HREF="https://proto.io/">Proto.io - Prototypes that feel real</A></li>
        <li><A HREF="https://smartmockups.com/">Smartmockups - Free product mockup generator</A></li>
        <li><A HREF="https://wireframe.cc/">Wireframe.cc - minimal wireframing tool</A></li>
        <li><A HREF="https://wireframesketcher.com/">WireframeSketcher Wireframing Tool for Professionals</A></li>
    </ul>
</section>
