@{
    ViewData["Title"] = "Testing Tools";
}

<section role="contentinfo" class="solidBorder roundedCorner">

    <h1>Testing Tools</h1>

    <ul>
        <li><A HREF="https://marketingplatform.google.com/about/optimize/features/?gclid=EAIaIQobChMI5a6v57iq1gIVTJd-Ch2k1gNTEAAYASABEgLMj_D_BwE">AB &amp; Multivariate Testing Tool Features - Google Optimize – Google</A></li>
        <li><A HREF="https://sites.google.com/a/chromium.org/chromedriver/">ChromeDriver - WebDriver for Chrome</A></li>
        <li><A HREF="https://www.browserstack.com/">Cross Browser Testing Tool. 1000+ Browsers, Mobile, Real IE.</A></li>
        <li><A HREF="https://monetate.com/">Monetate - Ecommerce Personalization &amp; Multivariate &amp; A/B Testing</A></li>
        <li><A HREF="https://www.optimizely.com/">Optimizely - The World&#39;s Leading Experimentation Platform</A></li>
        <li><A HREF="https://www.adobe.com/marketing/target.html">Adobe Target - Website testing and personalization</A></li>
        <li><A HREF="https://www.webpagetest.org/">WebPageTest - Website Performance and Optimization Test</A></li>
    </ul>
</section>