.softwareAtHand {
    color: #2e231f;
    background-color: #55ACEE;
    margin: 10px;
    font-family: "Exo 2", sans-serif;
    font-size: 12px;
    line-height: 1.5em;
    min-width: 600px;
}

p {
    padding-left: 10px;
}

a, button {
    color: #2e231f;
    background-color: white;
    border-radius: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #2e231f;
    font-family: "Cinzel", sans-serif;
    font-size: 14px;
    padding: 5px;
}

#banner {
    background-color: white;
    border-radius: 10px;
    top: 0px;
    left: 0px;
    min-height: 105px;
    min-width: 600px;
    width: 100%;
    display: inline-block;
    font-weight: bolder;
    border: 2px solid #3B5998;
    border-radius: 10px;
}

#banner img {
    border-radius: 10px;
    bottom: 20px;
    height: 100px;
    width: 100px;
}

header #social_media_icons_header {
    position: absolute;
    top: 20px;
    right: 20px;
    visibility: visible;
}

#social_media_icons_header > a.fa,
#social_media_icons_footer > a.fa {
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

nav li {
    display: inline-block;
}

#site_logo {
    border-radius: 10px;
}

#site_name > span {
    color: #2e231f;
    font-family: "Cinzel", sans-serif;
    padding: 5px;
    white-space: nowrap;
    border-radius: 10px;
    font-size: 20px;
    top: 55px;
    position: absolute;
}

#main_grid_layout {
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 150px auto;
    grid-template-areas: 
        "left_sidebar main_content";
}

.main_content {
    grid-area: main_content;
}

.left_sidebar {
    grid-area: left_sidebar;
}

#what_we_do {
    background-color: white;
    grid-column: 2 / 3;
    grid-row: 1;
    border-radius: 10px;
    border: 2px solid #3B5998;
    border-radius: 10px;
}

aside {
    background-color: white;
    grid-column: 1;
    border-radius: 10px;
    border: 2px solid #3B5998;
    border-radius: 10px;
}

#our_address {
    grid-column: 1;
    grid-row: 1;
}

#our_phone {
    grid-column: 1;
    grid-row: 2;
}

#our_email {
    grid-column: 1;
    grid-row: 3;
}

footer {
    background-color: white;
    position: sticky relative;
    bottom: 0px;
    left: 0px;
    border-radius: 10px;
    display: inline-block;
    width: 100%;
    min-width: 600px;
    border: 2px solid #3B5998;
    border-radius: 10px;
    padding-bottom: 10px;
}

#copyright {
    position: absolute;
    left: 0px;
    bottom: 0px;
}

footer #social_media_icons_footer {
    position: sticky relative;
    bottom: 0px;
    left: 0px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: auto;
}

footer nav {
    margin-left: 10px;
}

.roundedCorner {
    border-radius: 10px;
    background-color: white;
}

#cookieConsent {
    border-radius: 10px;
    background-color: white;
    margin-bottom: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.solidBorder {
    border: 2px solid #3B5998;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Portrait */
@media only screen and (max-width: 550px) {
    #social_media_icons_header {
        display: none;
    }

    #main_grid_layout {
        grid-template-columns: 100%;
        grid-template-areas: "main_content" "left_sidebar";
    }

    #what_we_do {
        background-color: white;
        grid-column: 1;
        grid-row: 1;
        border-radius: 10px;
        border: 2px solid #3B5998;
        border-radius: 10px;
    }
}

@media only screen and (prefers-color-scheme: light) {
    body, #banner, footer, #what_we_do, aside {
        background-color: white;
    }
}

section {
    min-width: 600px;
}